@import 'tailwindcss';

@theme inline {
    --color--accent: #4f46e5;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --breakpoint-xl: 75rem;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

